{% extends 'club/base.html' %}
{% block title %}Nueva contraseña{% endblock %}
{% block content %}
<div class="max-w-md mx-auto bg-white p-8 rounded shadow mt-8">
    <h2 class="text-2xl font-bold mb-6 text-center text-blue-700">Nueva contraseña</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
            <p class="text-red-600">{{ form.new_password1.errors }}</p>
        {% endif %}
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
            <p class="text-red-600">{{ form.new_password2.errors }}</p>
        {% endif %}
        <button type="submit" class="w-full bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded mt-4">Guardar nueva contraseña</button>
    </form>
</div>
{% endblock %}
